header {
  width: 100vw;
  height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
  z-index: 100;
  background-color: #fff;
  .container {
    width: 1240px;
    margin: 0 auto;
    height: 70px;
    nav {
      display: flex;
      align-items: center;
      height: 100%;
      gap: 20px;
      h1 {
        width: 150px;
        img {
          width: 100%;
        }
      }
      & > ul.nav-1depth {
        font-size: 18px;
        width: calc(1240px - 170px);
        display: flex;
        justify-content: space-around;
        align-items: center;
        & > li {
          &:nth-child(1) {
            width: 150px;
            height: max-content;
            & > a {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
            }
            i {
              margin-right: 15px;
            }
            .hover-box {
              height: 70px;
            }
            & > ul.nav-2depth {
              position: absolute;
              top: 70px;
              padding-top: 5px;
              background-color: #fff;
              width: 100px;
              display: none;
              box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
              & > li {
                height: 30px;
                & > a {
                  display: block;
                  width: 100%;
                  text-align: center;
                }
              }
            }
            &:hover {
              & > ul.nav-2depth {
                display: block;
              }
            }
          }
          &:nth-child(3) {
            img {
              width: 25px;
              &:hover {
                filter: invert(61%) sepia(52%) saturate(5616%)
                  hue-rotate(321deg) brightness(96%) contrast(118%);
              }
            }
          }
          .search-box {
            width: 30vw;
            position: relative;
            height: 40px;
            border-radius: 20px;
            overflow: hidden;
            background-color: #f7f8f9;
            padding-left: 20px;
            border: 1px solid #181d1f;
            i {
              font-size: 20px;
              line-height: 40px;
            }
            #search-main {
              position: absolute;
              top: 0;
              right: 0;
              width: 90%;
              height: 100%;
              background-color: #f7f8f9;
              border: transparent;
              font-size: 17px;
              &:focus {
                outline: none;
              }
            }
          }
          button.login {
            background-color: #535b63;
            width: 120px;
            height: 30px;
            cursor: pointer;
            font-size: 16px;
            color: #f7f8f9;
            border: transparent;
            border-radius: 20px;
            &:hover {
              background-color: #2e3236;
            }
          }
        }
      }
    }
  }
}
main {
  .mySwiper1 {
    width: 100%;
    height: 100%;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: red;
      width: 100vw;
      height: 400px;
      align-items: center;
      overflow: hidden;
      img {
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
body {
  position: relative;
}
.back-ground {
  position: fixed;
  visibility: hidden;
  top: 70px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.4;
  display: block;
  z-index: 99;
}
.login-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
  padding: 50px;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  visibility: hidden;
  h3 {
    margin-bottom: 20px;
  }
  .login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    .id-box,
    .pw-box {
      background-color: #f7f8f9;
      border: 1px solid #999;
      display: flex;
      align-items: center;
      i {
        font-size: 20px;
        color: #555;
        text-align: center;
        width: 30px;
      }
      input {
        width: 270px;
        height: 30px;
        background-color: #f7f8f9;
        border: transparent;
        &:focus {
          outline: none;
        }
      }
    }
    button {
      width: 300px;
      height: 30px;
      background-color: #535b63;
      color: #fff;
      font-size: 17px;
      border: transparent;
      cursor: pointer;
      &:hover {
        background-color: #2e3236;
      }
    }
  }
}
button.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  background-color: transparent;
  border: transparent;
  i {
    color: red;
    cursor: pointer;
    &:hover {
      color: darkred;
    }
  }
}

.signup-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
  padding: 50px;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 101;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  visibility: hidden;
  h3 {
    margin-bottom: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    p {
      border: 1px solid #333;
      background-color: #f7f8f9;
      display: flex;
      align-items: center;
      label {
        display: inline-block;
        width: 100px;
        text-align: left;
        margin-left: 5px;
      }
      input {
        width: 250px;
        height: 30px;
        border: transparent;
        font-size: 17px;
        font-weight: 300;
        background-color: #f7f8f9;
        &:focus {
          outline: none;
        }
      }
    }
    input.signup-button {
      width: 300px;
      height: 30px;
      background-color: #535b63;
      color: #fff;
      font-size: 17px;
      border: transparent;
      cursor: pointer;
      &:hover {
        background-color: #2e3236;
      }
    }
  }
}
button.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  background-color: transparent;
  border: transparent;
  i {
    color: red;
    cursor: pointer;
    &:hover {
      color: darkred;
    }
  }
}
