header {
  width: 100vw;
  height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
  z-index: 100;
  background-color: #fff;
  .header-container {
    max-width: 1240px;
    margin: 0 auto;
    height: 70px;
    nav {
      display: flex;
      align-items: center;
      height: 100%;
      gap: 20px;
      h1 {
        width: 150px;
        img {
          width: 100%;
        }
      }
      & > ul.nav-1depth {
        font-size: 18px;
        width: calc(1240px - 170px);
        display: flex;
        justify-content: space-around;
        align-items: center;
        & > li {
          &:nth-child(1) {
            width: 150px;
            height: max-content;
            & > a {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              font-size: 17px;
              font-weight: 700;
            }
            i {
              margin-right: 15px;
            }
            .hover-box {
              height: 70px;
            }
            & > ul.nav-2depth {
              position: absolute;
              top: 70px;
              padding-top: 5px;
              background-color: #fff;
              width: 100px;
              display: none;
              box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
              & > li {
                height: 30px;
                & > a {
                  display: block;
                  width: 100%;
                  text-align: center;
                }
              }
            }
            &:hover {
              & > ul.nav-2depth {
                display: block;
              }
            }
          }
          &:nth-child(3) {
            img {
              width: 25px;
              &:hover {
                filter: invert(61%) sepia(52%) saturate(5616%)
                  hue-rotate(321deg) brightness(96%) contrast(118%);
              }
            }
          }
          &:last-child {
            a {
              font-size: 16px;
              font-weight: 700;
            }
          }
          .search-box {
            width: 30vw;
            position: relative;
            height: 40px;
            border-radius: 20px;
            overflow: hidden;
            background-color: rgb(247, 248, 249);
            // padding-left: 20px;
            border: 1px solid rgb(197, 200, 206);
            i {
              padding-left: 10px;
              color: rgb(149, 154, 158);
              font-size: 20px;
              line-height: 40px;
              width: 10%;
              // min-width: 30px;
            }
            #search-main {
              position: absolute;
              top: 0;
              right: 0;
              width: 90%;
              height: 100%;
              background-color: rgb(247, 248, 249);
              border: transparent;
              font-size: 14px;
              &:focus {
                outline: none;
              }
            }
          }
          button.login {
            background-color: #535b63;
            width: 100px;
            height: 30px;
            cursor: pointer;
            font-size: 13px;
            color: rgb(255, 255, 255);
            font-weight: 900;
            border: transparent;
            border-radius: 20px;
            &:hover {
              background-color: #2e3236;
            }
          }
          a.user-info-btn {
            cursor: pointer;
          }
        }
      }
    }
  }
}
main {
  article.main-page {
    display: block;
    .mySwiper1 {
      width: 100%;
      height: 100%;
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: red;
        width: 100vw;
        height: 400px;
        align-items: center;
        overflow: hidden;
        img {
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  article.user-page,
  article.admin-page {
    display: none;
    h2 {
      font-size: 40px;
      margin-top: 50px;
    }
    .user-container,
    .admin-container {
      width: 730px;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
      margin: 50px auto 100px;
      padding: 50px;
      box-sizing: border-box;
      h3 {
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        border-bottom: 2px solid #333;
        margin-bottom: 40px;
      }
      .user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          margin-bottom: 40px;
          label {
            display: inline-block;
            width: 80px;
            font-size: 20px;
          }
          .change-pw-box {
            display: block;
            margin: {
              left: 83px;
              top: 20px;
            }
          }
          input {
            width: 350px;
            height: 35px;
            box-sizing: border-box;
            padding-left: 10px;
            font-size: 18px;
            margin-right: 10px;
            &:focus {
              outline: none;
            }
          }
          button {
            width: 70px;
            height: 35px;
            background-color: #fb3f4c;
            color: #fff;
            font-size: 17px;
            border: transparent;
            cursor: pointer;
            border-radius: 5px;
            &:hover {
              background-color: #a32931;
            }
          }
        }
      }
      .add-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        .add-item-name {
          margin-bottom: 20px;
          label {
            display: inline-block;
            width: 80px;
            font-size: 16px;
          }
          input {
            width: 350px;
            height: 25px;
          }
        }
      }
      .total-items {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .item-container {
          .items {
            margin-bottom: 20px;
            width: 430px;
            display: flex;
            justify-content: space-between;
            .delete-btn {
              cursor: pointer;
              background: transparent;
              border-color: transparent;
              i {
                color: hsl(360, 71%, 66%);
              }
            }
          }
        }
      }
      .bank-info {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
.back-ground {
  position: fixed;
  visibility: hidden;
  top: 70px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.4;
  display: block;
  z-index: 99;
  text-indent: -9999px;
}
.login-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
  padding: 50px;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  visibility: hidden;
  h3 {
    margin-bottom: 20px;
  }
  #login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    .id-box,
    .pw-box {
      background-color: #f7f8f9;
      border: 1px solid #999;
      display: flex;
      align-items: center;
      i {
        font-size: 20px;
        color: #555;
        text-align: center;
        width: 30px;
      }
      input {
        width: 270px;
        height: 30px;
        background-color: #f7f8f9;
        border: transparent;
        &:focus {
          outline: none;
        }
      }
    }
    button {
      width: 300px;
      height: 30px;
      background-color: #535b63;
      color: #fff;
      font-size: 17px;
      border: transparent;
      cursor: pointer;
      &:hover {
        background-color: #2e3236;
      }
    }
  }
}
.signup-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
  padding: 50px;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 101;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  visibility: hidden;
  h3 {
    margin-bottom: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    p {
      border: 1px solid #333;
      background-color: #f7f8f9;
      display: flex;
      align-items: center;
      label {
        display: inline-block;
        width: 100px;
        text-align: left;
        margin-left: 5px;
      }
      input {
        width: 250px;
        height: 30px;
        border: transparent;
        font-size: 17px;
        font-weight: 300;
        background-color: #f7f8f9;
        &:focus {
          outline: none;
        }
      }
    }
    .email-alert {
      display: none;
    }
    .email-alert.show {
      display: block;
    }
    input.signup-button {
      width: 300px;
      height: 30px;
      background-color: #535b63;
      color: #fff;
      font-size: 17px;
      border: transparent;
      cursor: pointer;
      &:hover {
        background-color: #2e3236;
      }
    }
  }
}
button.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  background-color: transparent;
  border: transparent;
  i {
    color: red;
    cursor: pointer;
    &:hover {
      color: darkred;
    }
  }
}
footer {
  height: 190px;
  background-color: rgb(247, 248, 249);
  .copyright-container {
    max-width: 1152px;
    margin: 0 auto;
    padding: 32px 20px;
    display: flex;
    justify-content: space-between;
    .left-container {
      .copyright-title {
        display: flex;
        margin-bottom: 8px;
        a {
          path {
            fill: green;
          }
        }
        .divider {
          position: relative;
          top: 2.5px;
          margin: 0 8px;
          width: 0.5px;
          height: 12px;
          background-color: #bdbdbd;
        }
        .text {
          color: #bdbdbd;
          font-weight: 700;
          font-size: 12px;
          line-height: 1.5;
          text-decoration: none;
        }
      }
      .copyright-description,
      .copyright-reserved {
        margin-bottom: 8px;
        span {
          font-size: 12px;
          color: #bdbdbd;
          line-height: 1.5;
        }
      }
    }
    .right-container {
      width: 260px;
      margin-left: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        text-decoration: none;
        display: inline-block;
        width: 34px;
        height: 34px;
        border-radius: 100%;
        background: #bdbdbd;
        text-align: center;
        line-height: 35px;
        color: #333333;
      }
    }
  }
}
