//category page
.category-page {
  display: none;
  .category-container {
    height: 100%;
    max-width: 1152px;
    padding: 50px;
    margin: 0 auto;
    .category-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
      .category-title {
        font-size: 24px;
        height: 24px;
        font-weight: 700;
      }
      .selector {
        font-weight: 600;
        font-size: 14px;
        border: none;
        outline: none;
        scroll-behavior: smooth;
        text-align: left;
        padding: 5px 10px;
        &:focus {
          border: none;
        }
      }
    }
  }
  .category-itemlist {
    margin: 10px 0 0 0;
    padding: 0;
    width: auto;
    align-items: center;
    flex-wrap: nowrap;
    .itemlist {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      .itemlist-container {
        width: 280px;
        overflow: hidden;
        margin-bottom: 100px;
        &:hover {
          cursor: pointer;
        }
        .itemlist-image {
          img {
            max-width: 100%;
            border-radius: 5px;
          }
        }
      }
      .itemlist-detail {
        display: flex;
        flex-direction: column;
        .itemlist-tag {
          font-weight: 400;
          line-height: 12px;
          margin: 20px 0 8px 0;
          word-break: keep-all;
          color: rgb(137, 143, 148);
          font-size: 13px;
          &:hover {
            cursor: pointer;
          }
        }
        .itemlist-title {
          color: rgb(51, 60, 69);
          font-size: 15px;
          font-weight: 500;
          margin: 0 0 8px 0;
          line-height: 22px;
          max-height: 40px;
          overflow-wrap: normal;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-all;
        }
        .itemlist-price {
          display: inline-block;
          width: auto;
          height: auto;
          margin: 0 0 2px 0;
          padding: 0px;
          overflow: initial;
          color: rgb(24, 29, 31);
          font-size: 20px;
          font-weight: 700;
          font-style: normal;
          line-height: 22px;
          text-align: inherit;
          white-space: initial;
          letter-spacing: initial;
        }
      }
    }
  }
}
//category
