//구매페이지
.purchase-page {
  display: none;
  box-sizing: border-box;
  position: relative;
  width: 860px;
  padding: 0px;
  margin: 110px auto;
  background-color: white;
  border-radius: 2px;
  border-right: 1px solid rgb(233, 235, 238);
  border-bottom: 1px solid rgb(233, 235, 238);
  border-left: 1px solid rgb(233, 235, 238);
  border-image: initial;
  border-top: none;
  box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px 1px;
  .purchase-container {
    background: rgb(233, 235, 238);
    width: 100%;
    // padding: 110px 0px 100px;
  }
}

.address,
.buyer,
.payment-amount,
.payment-method,
.product {
  width: 100%;
  height: auto;
  background: rgb(255, 255, 255);
  margin: 1px 0px 0px;
  padding: 32px 48px;
  box-sizing: border-box;
  .address-title,
  .buyer-title,
  .product-main,
  .payment-amount-title,
  .payment-method-title {
    color: rgb(40, 50, 60);
    font-weight: 500;
    font-size: 24px;
    margin: 0px 0px 40px;
  }
}

.product-detail {
  .product-tag {
    font-size: 16px;
  }
  .product-container {
    display: flex;
    margin: 5px 0 10px;
    img {
      border-radius: 5px;
    }
    .product-description {
      margin: 0 0 0 10px;
      .product-title,
      .product-option,
      .product-price {
        line-height: 1.428;
        font-weight: 400;
        margin: 4px 0 1px;
        font-size: 13px;
      }
      .product-option {
        color: rgb(144, 164, 174);
      }
    }
  }
}

.purchase-content,
.payment-amount-content {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 15px;
  .purchase-content-selector {
    width: 614.33px;
    border: 1px solid rgb(233, 235, 238);
    border-radius: 4px;
  }
  .purchase-content-subject,
  .payment-amount-content-subject {
    width: 22%;
    height: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(128, 128, 128);
  }
  .purchase-content-input,
  .address-content-input {
    // width: 580px;
    // height: 50px;
    border: 1px solid rgb(233, 235, 238);
    border-radius: 4px;
    padding: 0px 8px;
    background: white;
    text-align: left;
    color: rgb(64, 70, 76);
    font-size: 14px;
    font-weight: 400;
    cursor: text;
    flex-direction: column;
    display: flex;
    width: 78%;
    font-size: 14px;
    line-height: 1.42857143;
    &:hover {
      transition: all 0.4s ease-out 0s;
      background: rgb(235, 238, 242);
    }
    &:focus {
      outline: none;
    }
  }
}

.payment-amount-content {
  display: flex;
  margin: 15px 5px;
  align-items: center;
  .payment-amount-content-subjcet {
    width: 50%;
  }
  .payment-amount-content-detail {
    width: 50%;
    text-align: right;
  }
}

.payment-method-cfm-msg {
  li {
    color: rgb(170, 175, 185);
    font-size: 13px;
  }
}

.payment-cfm-btn {
  background-color: white;
  padding: 20px 48px 32px;
  button {
    width: 100%;
    height: 72px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    background: linear-gradient(
      37deg,
      rgb(255, 116, 115) 20%,
      rgb(255, 88, 93) 40%,
      rgb(255, 116, 115)
    );
    &:hover {
      // transition: all 0.4s ease-out 0s;
      background-position: 100% center, 0% center;
      background: #dd6060;
    }
  }
}

.postal-code-1,
.postal-code-2 {
  display: flex;
}

.postal-code-1 {
}
