.qna-container {
  box-sizing: border-box;
  max-width: 1152px;
  margin: 0 auto;
  padding: 50px;
  .qna-container-title {
    display: flex;
    justify-content: space-between;
  }
  .qna-title {
    align-items: center;
    font-size: 36px;
    font-weight: 700;
    padding: 30px 0;
  }
  .qna-requset-button {
    height: 50px;
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
  }
}

.qna-table-head {
  display: flex;
  margin: auto;
  padding: 20px;
  display: flex;
  width: 100%;
  padding: 20px 0px;
  border-bottom: 1px solid rgb(51, 51, 51);
  border-top: 2px solid rgb(51, 51, 51);
  font-size: 18px;
  justify-content: space-between;
  .head-numbering {
    margin-left: 10%;
    padding: 10px;
  }
  .head-subject {
    padding: 10px;
  }
  .head-date {
    margin-right: 10%;
    padding: 10px;
  }
}

.qna-table-content-inner {
  display: flex;
  margin: auto;
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid rgb(244, 244, 244);
  justify-content: space-between;
  color: rgb(76, 76, 76);

  // .content-numbering,
  // .content-subject,
  // .content-date {
  //   margin: auto;
  //   padding: 10px;
  //
  // }
  .content-numbering {
    margin-left: 10%;
    padding: 10px;
    color: rgb(172, 172, 172);
    font-weight: 400;
  }
  .content-subject {
    padding: 10px;
  }
  .content-date {
    margin-right: 5%;
    padding: 10px;
    color: rgb(172, 172, 172);
    font-weight: 400;
  }
}

//qna모달

.qna-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
  padding: 50px;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  visibility: hidden;
  h3 {
    margin-bottom: 8px;
  }
  p {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  #qna-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .qna-select-list {
      width: 300px;
      text-align: center;
    }
    .qna-select-content {
      background-color: #f7f8f9;
      border: 1px solid #999;
      display: flex;
      align-items: center;
      height: 80px;
      input {
        width: 270px;
        height: 30px;
        background-color: #f7f8f9;
        border: transparent;
        &:focus {
          outline: none;
        }
      }
    }
    span {
      visibility: hidden;
      margin-top: 6px;
      text-align: left;
      margin-bottom: 10px;
      font-size: 12px;
      color: #ed234b;
    }
    span.show {
      visibility: visible;
    }
    .qna-btn {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    button {
      width: 300px;
      height: 30px;
      background-color: #535b63;
      color: #fff;
      font-size: 17px;
      border: transparent;
      cursor: pointer;
      &:hover {
        background-color: #2e3236;
      }
    }
  }
}
.qna-error-box {
  display: none;
  padding: 27px 30px;
  border-radius: 4px;
  background-color: #2e2e2e;
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 30px;
  transition: all 0.3s linear;
}
.qna-error-box.show {
  display: block;
}
.qna-error-box {
  top: 210px;
}
.signup-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
  padding: 50px;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 101;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  visibility: hidden;
  h3 {
    margin-bottom: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      border: 1px solid #333;
      background-color: #f7f8f9;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      label {
        display: inline-block;
        width: 100px;
        text-align: left;
        margin-left: 5px;
      }
      input {
        width: 250px;
        height: 30px;
        border: transparent;
        font-size: 17px;
        font-weight: 300;
        background-color: #f7f8f9;
        &:focus {
          outline: none;
        }
      }
    }
    span {
      visibility: hidden;
      margin-top: 6px;
      text-align: left;
      margin-bottom: 10px;
      font-size: 12px;
      color: #ed234b;
    }
    span.show {
      visibility: visible;
    }
    .signup-email-box {
      margin-bottom: 0px;
    }
    .signup-pw-box {
      margin-bottom: 0px;
    }
    .email-alert {
      display: none;
    }
    .email-alert.show {
      display: block;
    }
    input.signup-button {
      width: 300px;
      height: 30px;
      background-color: #535b63;
      color: #fff;
      font-size: 17px;
      border: transparent;
      cursor: pointer;
      &:hover {
        background-color: #2e3236;
      }
    }
  }
}

.alarm-select {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  .alarm-select-content {
    width: 50%;
    li {
      font-size: 14px;
      display: flex;
      input {
        width: 8px;
        height: auto;
        justify-content: space-between;
      }
    }
  }
}

h2 {
  font-size: 2.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.qna-back-ground {
  position: fixed;
  visibility: hidden;
  top: 70px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.4;
  display: block;
  z-index: 99;
  text-indent: -9999px;
}
