.back-ground {
  position: fixed;
  visibility: hidden;
  top: 70px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.4;
  display: block;
  z-index: 99;
  text-indent: -9999px;
}
.login-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
  padding: 50px;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  visibility: hidden;
  h3 {
    margin-bottom: 20px;
  }
  #login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .id-box,
    .pw-box {
      background-color: #f7f8f9;
      border: 1px solid #999;
      display: flex;
      align-items: center;
      // margin-bottom: 20px;
      i {
        font-size: 20px;
        color: #555;
        text-align: center;
        width: 30px;
      }
      input {
        width: 270px;
        height: 30px;
        background-color: #f7f8f9;
        border: transparent;
        &:focus {
          outline: none;
        }
      }
    }
    span {
      visibility: hidden;
      margin-top: 6px;
      text-align: left;
      margin-bottom: 10px;
      font-size: 12px;
      color: #ed234b;
    }
    span.show {
      visibility: visible;
    }
    .login-btn {
      margin-top: 40px;
      margin-bottom: 20px;
    }
    button {
      width: 300px;
      height: 30px;
      background-color: #535b63;
      color: #fff;
      font-size: 17px;
      border: transparent;
      cursor: pointer;
      &:hover {
        background-color: #2e3236;
      }
    }
  }
}
.login-error-box {
  display: none;
  padding: 27px 30px;
  border-radius: 4px;
  background-color: #2e2e2e;
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 30px;
  transition: all 0.3s linear;
}
.login-error-box.show {
  display: block;
}
.signup-error-box,
.email-overlap-error {
  top: 210px;
}
.signup-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
  padding: 50px;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 101;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  visibility: hidden;
  h3 {
    margin-bottom: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      border: 1px solid #333;
      background-color: #f7f8f9;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      label {
        display: inline-block;
        width: 100px;
        text-align: left;
        margin-left: 5px;
      }
      input {
        width: 250px;
        height: 30px;
        border: transparent;
        font-size: 17px;
        font-weight: 300;
        background-color: #f7f8f9;
        &:focus {
          outline: none;
        }
      }
    }
    span {
      visibility: hidden;
      margin-top: 6px;
      text-align: left;
      margin-bottom: 10px;
      font-size: 12px;
      color: #ed234b;
    }
    span.show {
      visibility: visible;
    }
    .signup-email-box {
      margin-bottom: 0px;
    }
    .signup-pw-box {
      margin-bottom: 0px;
    }
    .signup-repw-box {
      margin-bottom: 0px;
    }
    .email-alert {
      display: none;
    }
    .email-alert.show {
      display: block;
    }
    input.signup-button {
      width: 300px;
      height: 30px;
      background-color: #535b63;
      color: #fff;
      font-size: 17px;
      border: transparent;
      cursor: pointer;
      &:hover {
        background-color: #2e3236;
      }
    }
  }
}
button.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  background-color: transparent;
  border: transparent;
  i {
    color: red;
    cursor: pointer;
    &:hover {
      color: darkred;
    }
  }
}
footer {
  height: 190px;
  background-color: rgb(247, 248, 249);
  .copyright-container {
    max-width: 1152px;
    margin: 0 auto;
    padding: 32px 20px;
    display: flex;
    justify-content: space-between;
    .left-container {
      .copyright-title {
        display: flex;
        margin-bottom: 8px;
        a {
          path {
            fill: green;
          }
        }
        .divider {
          position: relative;
          top: 2.5px;
          margin: 0 8px;
          width: 0.5px;
          height: 12px;
          background-color: #bdbdbd;
        }
        .text {
          color: #bdbdbd;
          font-weight: 700;
          font-size: 12px;
          line-height: 1.5;
          text-decoration: none;
        }
      }
      .copyright-description,
      .copyright-reserved {
        margin-bottom: 8px;
        span {
          font-size: 12px;
          color: #bdbdbd;
          line-height: 1.5;
        }
      }
    }
    .right-container {
      width: 260px;
      margin-left: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        text-decoration: none;
        display: inline-block;
        width: 34px;
        height: 34px;
        border-radius: 100%;
        background: #bdbdbd;
        text-align: center;
        line-height: 35px;
        color: #333333;
      }
    }
  }
}
section.user-modal {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.75);
  visibility: hidden;
  div.user-modal-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 330px;
    height: 150px;
    padding: 24px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    p.user-modal-content {
      line-height: 1.5;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 600;
    }
    div.modal-btn-box {
      margin-top: 30;
      button.user-modal-btn {
        width: 270px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: #ed234b;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
}
section.user-modal.show {
  visibility: visible;
}
